<div class="col-md-9">
  <div class="blog-post">
    <h1><%= @article.title %>
    </h1>
    <h4>
      <% if @article.categories.empty? %>
          No Category
      <% else %>
          <%= @article.categories.map { |category| "#{category.name}" }.join(" & ") %>
      <% end %>
    </h4>
    <% if (current_user.role?('admin') rescue false) %>
        <div class="admin_rigths">
          <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
    <% end %>
    <% if @article.main_image.exists? %>
        <%= image_tag @article.main_image.url %>
    <% else %>
        <%= image_tag image_path("2.jpg"), class: "img-thumbnail img-responsive img-set" %>
    <% end %>
    <div class="blog-info">
      Posted on <strong><%= @article.created_at.strftime("%dth %B %Y ") %></strong>by
      <strong><a href="#"><%= article_author(@article)%></a></strong>
    </div>
    <hr/>
    <%= render 'shared/comments' %>
    <hr/>
    <div class="blog-share">
      <div class="facebook shares"><a href="https://www.facebook.com/sharer/sharer.php?s=100&p[title]=<%= @article.title %>&p[url]=<%= article_url(@article) %>" class="btn btn-social"><i class="fa fa-facebook fa-2x"></i></a></div>
      <div class="twitter shares"><a href="https://twitter.com/share?text=<%= @article.title %>" class="btn btn-social"><i class="fa fa-twitter fa-2x"></i></a></div>
      <div class="google shares"><a href="https://plus.google.com/share?url=<%= article_url(@article) %>" class="btn btn-social"><i class="fa fa-google-plus fa-2x"></i></a></div>
  </div>
  <hr/>
  <a href='<%= root_path %>' class="btn btn-info btn-lg"> <i class="fa fa-angle-left"></i> &nbsp;BACK TO HOME </a>
  <!-- POSTS SECTION END -->
</div>
</div>